<%- include('header'); -%>
<div class="container">
    <div class="row d-flex justify-content-center mt-3">
        <div class="mb-3 col-md-8 text-center">
            <h2 >Our Team</h2>
            <hr>
        </div>
    </div>
    <div class="row mt-3 mb-4 d-flex justify-content-center">
        <div class="col-md-3">
            <img class="card-img-top" src="images/dev_photo.jpg" alt="image cap">
        </div>
        <div class="col-md-5 ">
                <div class="">
                  <h5 class="">Card title</h5>
                  <p class="">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software.
                  </p>
                </div>
        </div>
    </div>
</div>
<%- include('footer'); -%>